<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="ISO-8859-1">
        <title>URL Shortener</title>
        <meta name="description" content="Nodejs Url Shortener">
        <meta name="robots" content="index, follow">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="cache-control" content="no-cache">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container padding-no margin-no margin-auto">
            <nav class="nav navbar-default col-xs-12 col-sm-11 col-md-8 col-lg-8">
                <div class="container padding-no margin-no">
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggleNav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">Node.js URL Shortener</a>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="canvas">
            <div class="canvas-cover">
                <div class="container">
                    <h1>Shareable Shortened Links</h1>
                    
                    <div class="shortener">
                        <div class="col-xs-12 col-sm-8 col-md-10 padding-no">
                            <input type="text" class="shortener softHidden disabled" id="shortenLinkCopy" readonly="readonly">
                            <input type="text" class="shortener" placeholder="Your url to shorten" id="shortenLink">
                        </div>
                        
                        <div class="col-xs-12 col-sm-4 col-md-2 padding-no">
                            <div class="btn shortener" id="shortenLinkButton">Shorten!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            
            <div class="segment">
                <h1>Shorten a URL Link so It's Easier to Share Online</h1>
                
                <div class="col-xs-12 col-sm-6 col-md-6 promote">
                    <i class="fa fa-link"></i>
                    <b>Short Your Link</b>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-6 promote">
                    <i class="fa fa-share-alt"></i>
                    <b>Share Your Shortened Link</b>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="segment">
                <h1>Total Achievements</h1>
                
                <div class="col-xs-12 col-md-12 center">
                    <h1 class="liveNumber" id="liveLinkCreated"><%= total_links %></h1>
                    links shortened until today!!
                </div>
                
                <div class="clear"></div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>